{% load static %}

<div id="logo" class="logo">
    <a href="{% url 'home' %}"><img src="{% static 'img/dentist-logo.png' %}" alt="Dr. D M Taje Dental Practice logo"/></a>
</div>
<nav class="flex_div main-navigation" aria-label="Main navigation">
    <ul class="nav_links" id="primary-menu">
        <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
        <li class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}"><a href="{% url 'about' %}">About Us</a></li>
        <li class="{% if request.resolver_match.url_name == 'services' %}active{% endif %}"><a href="{% url 'services' %}">Services</a></li>
        <li class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %}"><a href="{% url 'contacts' %}">Contacts</a></li>
    </ul>
     <button class="burger" aria-label="Toggle navigation menu" aria-expanded="false" aria-controls="primary-menu">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>

    <div class="cta">
        <a href="{% url 'contacts' %}" class="btn btn-cta">Make an appointment</a>
    </div>
</nav>